<!-- ******STORY****** --> 
<section id="story" class="story section offset-header">
    <div class="container">
        <div class="row">
            <div class="content col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 text-center">
                <h2 class="title">Quem somos nós?</h2>
                <p>A startup nasceu da iniciativa de 3 amigos que buscavam uma ideia que facilitasse a vida das pessoas. Nossa proposta é crescer de forma responsável e gradativa com novas ideias e parcerias que melhorem a experiência do usuário.</p>
                <p>Temos como missão inicial atender a demanda dos alunos da Facamp e outras faculdades de Campinas, para que possamos compartilhar dos mesmos momentos e das mesmas festas juntos, facilitando a compra de ingressos, oferecendo vantagens como entrada VIP e parcelamento dos convites.</p>
                <p>Buscamos, como alunos, aprender e oferecer aos nossos usuários uma experiência única, somos completamente abertos a críticas e sugestões. Viemos para diferenciar esse tipo de serviço tanto para usuários quanto para nossos clientes. Deixamos aqui nosso sincero agradecimento às atléticas da Facamp, as quais nos apoiaram e acreditaram em nós.</p>
                <img class="logo-img img-responsive" src="assets/images/logo/logo-govip-simple-white.png">
            </div><!--//content-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//story-->

<!-- ******CLIENTS****** --> 
<section id="clients" class="clients section">
    <div class="container">
        <div class="press row text-center">
            <h3 class="note">Alguns de nossos clientes...</h3>
            <ul class="col-md-12 list-inline">
                <li class="last"><a href="https://www.facebook.com/AAAPMT" target="_blank"><img class="img-responsive" src="assets/images/clients/client-ppm-facamp.png" width="100px" alt="Atlética de Propaganda e Marketing FACAMP" /></a></li>
            </ul>
        </div><!--//row-->
    </div><!--//container-->
</section><!--//Clients-->