<section class="section offset-header" style="margin-bottom: 100px">
    <div class="container">
    	<div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12">
        		<div class="thumbnail center well well-small text-center">
                    <h2>Confirme seu email</h2>
                    
                    <p>No fim da compra, te enviaremos seus ingressos usando esse endereço</p>
                    
                   <div class="row">
                        <form ng-submit="confirmEmail()">
                            <div class="col-xs-4 col-md-6">
                                <input type="text" class="form-control input-sm add-item-input" placeholder="voce@email.com.br" ng-model="email" ng-required="true">
                            </div>
                            <div class="col-xs-2 col-md-1 text-left">
                                <button type="submit" class="btn btn-add-item"><span class="fa fa-check" style="margin-right:0;"></span></button>
                            </div>
                        </form>
                    </div>
                </div>    
            </div>
    	</div>
    </div> 
</section>