<!-- ******PROMO****** --> 
<section id="promo" class="promo section offset-header">
    <div class="container">
        <div class="row">
            <div class="overview col-md-8 col-sm-12 col-xs-12">
                <img class="logo-img img-responsive" src="assets/images/logo/logo-govip-simple-white.png">
                <h2 class="title">A <b>melhor</b> maneira de comprar ingressos!</h2>
                <div class="login-area">
                    <ul class="btn-group list-inline">
                        <li class="facebook-login-btn img-responsive"><a ng-click="facebookLogin()" href="javascript:void(0);">login</a></li>
                    </ul>
                </div>
                <ul class="summary">
                    <li>Compre ingressos sem sair de casa</li>
                    <li>Compre com segurança pelo PagSeguro</li>
                    <li>Fique por dentro dos melhores eventos da região</li>
                    <li>Entre mais rápido nas festas com nossa fila exclusiva</li>
                </ul>
            </div><!--//overview-->
            
            <!--// iPhone starts -->
            <div class="phone iphone iphone-white col-md-4 col-sm-12 col-xs-12 ">
                <div class="iphone-holder phone-holder">
                    <div class="iphone-holder-inner">
                        <div class="slider flexslider">
                            <ul class="slides">
                                <li>
                                    <img src="assets/images/iphone/iphone-slide-govip.png"  alt="" />
                                </li>
                            </ul><!--//slides-->
                        </div><!--//flexslider-->   
                    </div><!--//iphone-holder-inner-->                    
                </div><!--//iphone-holder-->                   
            </div><!--//iphone-->  
            <!--// iPhone ends -->
                                       
        </div><!--//row-->
    </div><!--//container-->
</section><!--//promo-->

<!-- ******FEATURES****** --> 
<section id="features" class="features section">
    <div class="container">
        <div class="row">
            <h2 class="title text-center sr-only">Vantagens</h2>
            <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-ticket"></i>                
                </div><!--//icon-->
                <div class="content">
                    <h3 class="title">Muito mais prático!</h3>
                    <p>Com a <b>GoVip</b> você tem seus <b>ingressos sem sair de casa</b>, em apenas alguns cliques!</p>  
                </div><!--//content-->               
            </div><!--//item-->
            <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-lock"></i>                
                </div><!--//icon-->
                <div class="content">
                    <h3 class="title">Segurança</h3>
                    <p>Compre <b>sem preocupação</b> utilizando o serviço do <b>PagSeguro</b>!</p>   
                </div><!--//content-->               
            </div><!--//item-->
            <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-thumbs-up"></i>                
                </div><!--//icon-->
                <div class="content">
                    <h3 class="title">As melhores festas!</h3>
                    <p>Fique por dentro dos <b>melhores eventos</b> da região! <i>(Em Breve)</i></p>   
                </div><!--//content-->               
            </div><!--//item-->
            <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="icon">
                    <i class="fa fa-heart"></i>                
                </div><!--//icon-->
                <div class="content">
                    <h3 class="title">Feito pra você!</h3>
                    <p>A <b>GoVip</b> traz um design e estrutura <b>ideais</b> para comprar seu ingresso!</p>   
                </div><!--//content-->               
            </div><!--//item-->
        </div><!--//row-->
    </div><!--//container-->
</section><!--//features-->