<div class="container">
	<div class="row">
        <!-- Boxes de Acoes -->
    	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fa fa-thumbs-o-up"></i></div>
					<div class="info">
						<h3 class="title">Pedido Enviado com Sucesso</h3>
						<p>
							Em breve você deve receber um e-mail com as <b>instruções de pagamento</b> via <b>PagSeguro</b>. 
							<br />Não esqueça de checar sua pasta de Spam.
						</p>
						<p>
							Caso você não receba o e-mail em até <b>2h após feito o pedido</b>, entre em contato com <a href="mailto:contato@govipclub.com.br">contato@govipclub.com.br</a>. 
						</p>
						<p>
							Obrigado por comprar com a <b>GoVip</b>
						</p>
						<div>
							<img src="../assets/images/logo/logo-govip-simple-gray.png" class="img-responsive" width="120px">
							</img>
						</div>
						<div>
							<a href="javascript:void(0);" ng-goto="eventos" class="btn btn-goto-events">Voltar para Eventos</a>
						</div>
					</div>
				</div>
			</div> 
		</div>
	</div>
</div>